.item_detail_level,
.leftsideList
.belowListMenu
{
	display:inline;
	float: left;
	position: relative;
	margin-left: 7px;
	margin-right: 7px;    
}

.leftsideList
{
    width: 314px;
}

.belowListMenu
{
    width: 642px;
}