
.toolbar {
    text-align: right;
    font-size: 11px;  
    margin-top: 20px;      
    margin-bottom: 4px;
}

.padded {
    padding: 20px
}

.ui-widget {
	font-size: 1.0em;
}

a, .ui-widget-content a, .ui-state-highlight a {
	color: #00549f;
}